/* Global Styles */
html, body {
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}

/* Keyframes */
@keyframes moveInCircle {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes movePattern {
    0% { transform: translate(var(--x-start, 0), var(--y-start, 0)); }
    50% { transform: translate(var(--x-mid, 50%), var(--y-mid, 50%)); }
    100% { transform: translate(var(--x-start, 0), var(--y-start, 0)); }
}

/* Components */
.text-container {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: white;
    opacity: 0.8;
    user-select: none;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
}

.gradient-bg .g1 {
    animation: movePattern 30s ease infinite;
    --x-start: 0;
    --y-start: -50%;
    --x-mid: 0;
    --y-mid: 50%;
    opacity: 1;
}
