<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body class="{{ page.class }}">
    <header>
        <div class="menu-bar">
            <h1 class="site-title">{{ site.title }}</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                </ul>
            </nav>
        </div>
    </header>    
    <main>
        {{ content }}
    </main>
    <!-- <footer>
        <p>© {{ site.title }} {{ site.time | date: '%Y' }}</p>
    </footer> -->
<!-- Metricool tracker -->
{% raw %}
<script>
  function loadScript(a) {
    var b = document.getElementsByTagName("head")[0],
        c = document.createElement("script");
    c.type = "text/javascript";
    c.src  = "https://tracker.metricool.com/resources/be.js";
    c.onreadystatechange = a;
    c.onload        = a;
    b.appendChild(c);
  }
  loadScript(function () {
    beTracker.t({ hash: "5a2fae180605137e6d42876ba24c5b9f" });
  });
</script>
{% endraw %}

</body>
</html>



